---
import Layout from "@/layouts/Layout.astro";
import { Button, buttonVariants } from "@/components/ui/button";
import { BorderBeam } from "@/components/magicui/border-beam";
---

<Layout>
  <main
    class="flex flex-col h-screen gap-8 items-center justify-center max-w-6xl mx-auto px-4 lg:flex-row lg:justify-between"
  >
    <div class="text-center lg:text-left">
      <h1 class="text-4xl font-bold">Yonsei Digital Twin</h1>
      <p class="mt-0.5 text-muted-foreground text-lg">
        A digital twin of the Yonsei University Campus.
      </p>
      <div class="flex flex-col sm:flex-row items-center mt-4 gap-1.5">
        <a
          class:list={[
            buttonVariants({ variant: "default" }),
            "w-full sm:w-fit",
          ]}
          href="/map"
        >
          Sinchon Campus
        </a>
        <Button className="w-full sm:w-fit" disabled>
          International Campus (Coming Soon)
        </Button>
      </div>
    </div>
    <div
      class="aspect-video shadow-xs relative rounded-md border w-156 max-w-full grid place-content-center overflow-hidden"
    >
      <BorderBeam
        className="from-transparent via-primary"
        client:load
        duration={8}
        size={300}
      />
      <video
        class="w-full aspect-video"
        src="/hero-video.mp4"
        autoplay
        muted
        loop></video>
    </div>
  </main>
  <footer
    class="fixed bottom-4 text-center px-4 w-full text-sm text-muted-foreground"
  >
    &copy; Yonsei DXD Lab {new Date().getFullYear()}
  </footer>
</Layout>
