---

---

<footer
  class="fixed bottom-4 w-full px-4 text-center text-sm text-muted-foreground/50"
>
  <a href="https://dxd.yonsei.ac.kr/" target="_blank" rel="noreferrer">
    <img
      class="mb-1 inline-block h-auto w-8.5"
      src="/dxd-logo.png"
      alt="Yonsei DXD Lab"
    />
  </a>
  <div>
    &copy; {new Date().getFullYear()} Yonsei DXD Lab
  </div>
</footer>
