---

---

<footer class="fixed bottom-4 w-full pl-12 text-sm text-foreground/40">
  <a href="https://dxd.yonsei.ac.kr/" target="_blank" rel="noreferrer">
    <img class="mr-1 inline-block h-auto w-7" src="/dxd-logo.png" alt="" />
  </a>
  <span>
    &copy; {new Date().getFullYear()} Yonsei DXD Lab
  </span>
</footer>
