---

---

<footer
  class="fixed bottom-4 w-full px-4 text-center text-sm text-muted-foreground/50"
>
  <img
    class="mb-1 inline-block size-8.5"
    src="/dxd-logo.png"
    alt="Yonsei DXD Lab"
  />
  <div>
    &copy; {new Date().getFullYear()} Yonsei DXD Lab
  </div>
</footer>
