---
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title,
  description = "An interactive digital twin of the Yonsei University campus.",
} = Astro.props;

const formattedTitle = title
  ? `Yonsei Digital Twin | ${title}`
  : "Yonsei Digital Twin";
---

<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{formattedTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
